@model HansJuergenWeb.Contracts.UploadErrorModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12">
        <h2>Error Uploading:</h2>
        <ul>
            @foreach (var e in Model.Errors)
            {
                <li>@Html.Label(e)</li>
            }
        </ul>
    </div>
</div>