<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="FlowCytoConnection" value="Server=juulserver2017;Database=FlowCyto-dev;User ID=sa; Password=.Birgit1931" />
  </appSettings>
</configuration>